/*  CSS StyleSheet */

/* Container div */

.container {
  background-color: black;
  border-color: pink;
  border-style: dotted;
  width: 100%;
}

/* Styling for Nav */

.navArea {
  background-color: black;
  border-color: orange;
  border-style: dotted;
  display: flex;
  width: 100%;
  color: white;
  font-family: 'Roboto', sans-serif;


}

.navArea a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navArea a:hover {
  background-color: #ddd;
  color: black;
}

.navArea a.gnu {
  background-color: beige;
  color: white;
}


/* Main content div */

.mainContent {
  background-color: yellow;
  border-color: blue;
  border-style: dotted;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  color: white;
}

.mainContent > div {
  margin-left:1%;
  background-color: red;
  padding-left:5px;
  /* border-color: white;
  border-style: dotted; */
}
.mainContent > div img{
  width:100%;
}



/* Side navigation */

#sideNav {
  grid-row: 1 / span 3;
  background-color: #25211e;
}

  /* Benefits */
  #benefits {

  }

  /* Inclusion vs Exclusion */
  #inclusionExclusion {

  }

/*  HOME PAGE STYLING */

  /* Maint content home */

.mainContentHome {
  width: 100%;
  background: teal;
  display: flex;
}

  /* home id */

/* #home {
  border: dotted;
  border-color: white;
  width: 400%;
} */

  /* home stallman */

#homeStallman {
  border: dotted;
  border-color: lime;
  width: 30%;
}

#homeStallman img {
  width: 100%;
}

  /* Font home id */

#homeGNU {
  font-family:'Alegreya Sans', sans-serif;
}

  /* CellOneHome */

  #cellOneHome {
  width-right:80%;
  width: 50%;
  background-color: #3a3229;
  border-radius: 3%;
  /* margin-left:0%; */
  }

/* Main logo id */

#logo {
  background-color: blue;
  width:20%;
  margin-left:20%;
}
#logo img{
  width:100%;
}


/* Navigation small logo */

#navLogo {
  background-color: blue;
  width:5%;
  margin-left:20%;
}
#navLogo img{
  width:100%;
}


/* WHY GNU STYLING */

#cellOne {
width-right:80%;
background-color: #3a3229;
border-radius: 3%;
/* margin-left:0%; */
}

  /* Edit image inside cellOne */

#cellOne img {
  float: left;
  width: 50%;

}

  /* Edit text inside cellOne */

#cellOne p {
  font-family:'Alegreya Sans', sans-serif;
  font-size: 130%;
  margin-right: 4%;
}


  /* cellTwo  */

  #cellTwo {
  width-right:80%;
  background-color: #3a3229;
  border-radius: 3%;
  }

  /* Edit image inside cellTwo */

  #cellTwo img {
    float: left;
    width: 50%;

  }

  /* Edit text inside cellTwo */

  #cellTwo p {
    font-family:'Alegreya Sans', sans-serif;
    font-size: 130%;
    margin-right: 4%;
    /* padding-left: 50%; */


  }
