/*  CSS StyleSheet */

body {
  background-color: black;
}

/* Container div */

.container {
  background-color: black;
  /* border-color: pink; */
  /* border-style: dotted; */
  width: 100%;
}

/* Styling for Nav */

.navArea {
  background-color: black;
  /* border-color: orange; */
  /* border-bottom: 1px solid #dccc6b; */
  border-spacing: 1px;
  /* border-style: dotted; */
  /* border-radius: 5px; */
  display: flex;
    /* Prevent Navbar from extending out of container */
  box-sizing: border-box;
  margin-left:0%;
  color: white;
  font-family: 'Roboto', sans-serif;
  position: sticky;
  top: 0;
  background-color: rgba(0,0,0,.5);
  z-index:5;

}

.navArea a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navArea a:hover {
  background-color: #ddd;
  color: black;
}

.navArea a.gnu {
  background-color: ;
  color: white;
}


/* Main content section for Why GNU */

.mainContent {
  background-color: black;
  /* border-color: blue; */
  /* border-style: dotted; */
  width: 95%;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  gap: 1%;
  color: white;
  margin-top:1%;
  margin-bottom: 200px

}

.mainContent > div {
  margin-left:1%;
  background-color: black;
  padding-left:5px;
  /* border-color: white;
  border-style: dotted; */
}
.mainContent > div img{
  width:100%;
}



  /* Inclusion vs Exclusion images */

  .mainContentInclusionImg {

  }


  /* Side navigation */

#sideNav {
  grid-row: 1 / span 3;
  background-color: #25211e;
  height: 80vh;
  border-radius:5px;
  padding-right:5px;
}


/* Button to reveal Why GNU sidebar elements */

  /* Benefits Click Section*/
  #benefits {
  margin-top:40px;
  }

  /* Inclusion vs Exclusion Click Section*/
  #inclusionExclusion {
    margin-top:40px;
  }


/* Inclusion Exclusion Content Section */


.inclusionSection {
  background-color: black;
  /* border-color: blue; */
  /* border-style: dotted; */
  width: 50%
  /* height: 90%; */
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 100;
  /* width: 95%;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 1%;
  color: white; */
}

/*  HOME PAGE STYLING */

  /* Maint content home page */

.mainContentHome {
  width: 98%;
  /* border-style: dotted; */
  /* border-color: white; */
  background: black;
  display: flex;
}

  /* home id */

/* Not using currently */
#home {
  background-color: purple;
  /* border: dotted; */
  /* border-color: white; */
  width: 400%;
}

  /* home stallman */

#homeStallman {
  /* border: dotted; */
  /* border-color: lime; */
  width: 30%;
  height: 50%;
}

#homeStallman img {
  width: 100%;
}

  /* Font home id */

/* Gnu home button in middle of Navbar */

#homeGNU {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 800;
}


/* Home Heading */

.homeHeading {
  font-weight:800;
  font-size: 80px;
  color: #dccc6b;
  line-height: 5%;
}

  /* CellOneHome */

/* Cell for text next to home Stallman illustration */
  #cellOneHomeText {
  width-right:80%;
  width: 80%;
  background-color: black;
  border-radius: 5px;
  /* border-style: dotted; */
  /* border-color: violet; */
  /* margin-left:0%; */
  font-family:'Alegreya Sans', sans-serif;
  font-weight:100;
  padding:0;
  }

/* Main logo id */

#logo {
  background-color: transparent;
  /* border-style: dotted; */
  /* border-color: yellow; */
  width:20%;
  margin-left:40%;
  position:relative;
  z-index:4;
  margin-top: -10px;
  top: 10px;

  /* position: relative; */
  /* overflow: visible; */
}
#logo img{
  width:100%;
}


/* Navigation small logo */

#navLogo {
  background-color:transparent;
  width:4%;
  margin-left:20%;
}
#navLogo img{
  width:100%;
}


/* WHY GNU STYLING */

  /* CellOne */

#cellOne {
width-right:80%;
background-color: #3a3229;
border-radius: 5px;

/* margin-left:0%; */
}

    /* Edit image inside cellOne */

#cellOne img {
  float: left;
  width: 50%;

}

    /* Edit text inside cellOne */

 #cellOne p {
  font-family:'Alegreya Sans', sans-serif;
  font-size: 130%;
  margin-right: 4%;
}


  /* cellTwo  */

  #cellTwo {
  width-right:80%;
  background-color: #3a3229;
  border-radius: 5px;
  }

    /* Edit image inside cellTwo */

  #cellTwo img {
    float: left;
    width: 50%;

  }

    /* Edit text inside cellTwo */

  #cellTwo p {
    font-family:'Alegreya Sans', sans-serif;
    font-size: 130%;
    margin-right: 4%;
    /* padding-left: 50%; */

  }

  /* Cell Three */

  #cellThree {
  width-right:80%;
  background-color: #3a3229;
  border-radius: 5px;
  }

    /* Edit image inside cellThree */

  #cellThree img {
    float: left;
    width: 50%;

  }

    /* Edit text inside cellThree */

  #cellThree p {
    font-family:'Alegreya Sans', sans-serif;
    font-size: 130%;
    margin-right: 4%;
    /* padding-left: 50%; */

  }

  /* Cell Four */

  #cellFour {
  width-right:80%;
  background-color: #3a3229;
  border-radius: 5px;

  }

    /* Edit image inside cellFour */

  #cellFour img {
    float: left;
    width: 50%;

  }

    /* Edit text inside cellFour */

  #cellFour p {
    font-family:'Alegreya Sans', sans-serif;
    font-size: 130%;
    margin-right: 4%;
    /* padding-left: 50%; */

  }

  /* GNU SOFTWARE PAGE STYLING */


  .mainContentSoftware {
    background-color: black;
    /* border-color: blue; */
    /* border-style: dotted; */
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    color: white;
    box-sizing: border-box;
  }

  .mainContentSoftware > div {
    margin-left:20%;
    background-color: red;
    padding-left:5px;
    margin-top: 10px;
    /* border-color: white;
    border-style: dotted; */
  }

  .mainContentSoftware > div img{
    width: 250px;
  }


  /* Cells for Software page */

  #softwareCellOne {
    /* width:auto; */
    background-color: black;
  }

  #softwareCellTwo {
    /* width:auto; */
    background-color: black;
    /* width:500%;
    margin: auto; */
    margin-top:35px;
  }
    /* Divider for Software Page */
  #softwareCellThree {
    /* Making element span two columns */
    grid-column: 1 / span 2;
    margin: auto;
    background-color: black;
  }

  #softwareCellFour {
  /* width:auto; */
    background-color: black;
  }

  #softwareCellFive {
  /* width:auto; */
  background-color: black;
  }

  /* Text inside cells for software page */

  #softwareP_Headers {
    color:#dccc6b;
    font-size:250%;
    font-family:'Alegreya Sans', sans-serif;
    font-weight:800;
    margin-top:0%;
    padding-top:0%;
    float: right;
  }

  #softwareP {
    color:white;
    font-size:100%;
    font-family:'Alegreya Sans', sans-serif;
    font-weight:100;
    margin-top:0%;
    padding-top:0%;
  }

/* STYLING for Why Not GNU? PAGE */


/* Maint content */

.mainContentNotGNU {
  background-color: black;
  /* border-color: blue; */
  /* border-style: dotted; */
  width: 100%;
  display: grid;
  grid-template-columns: 20% 25% 25% 25%;
  gap: 1%;
  color: white;
  margin-top:1%;
  margin-bottom: 200px;
}

/* .mainContentNotGNU > div {
  margin-left:20%;
  background-color: black;
  padding-left:5px;
  margin-top: 10px;
  border-color: white;
  border-style: dotted;
} */

.mainContentNotGNU > div img{
  width:100%;
}

  /* Logo styling */

#logoConfused {
grid-column: 2 / span 3;
background:black;
display:flex;
}

#logoConfused img {
width: 50%;
padding-bottom: 50px;
}


  /* Quality Section Styling */

.qualitySection {

}

.qualitySection > div {

}

.qualitySection > div img {

}

#notGnuText {
  font-family:'Alegreya Sans', sans-serif;
  font-weight:100;
  font-size:120%;

}

.notGnuFlipText {
  font-family:'Alegreya Sans', sans-serif;
  font-weight:100;
  font-size: 120%;
  color:black;

}



/* Quality Click Section*/
#quality {
margin-top:40px;
}

/* Inconvenient Click Section*/
#inconvenient {
  margin-top:40px;


}



/* STYLING for Community Collaboration Page*/

  /* Maint content */

  .mainContentCommunity {
    background-color: black;
    /* border-color: green; */
    /* border-style: dotted; */
    width: 100%;
    /* display: grid;
    grid-template-columns: 10% 90%; */
    color: white;
    box-sizing: border-box;
  }

  /* .mainContentCommunity > div {
    margin-left:20%;
    background-color: red;
    padding-left:5px;
    margin-top: 10px;
    border-color: white;
    border-style: dotted;
  } */

  .mainContentCommunity > div img{
    width: 100%;

  }




  /* Current Campaigns */

#currentCampaigns {

  background-color: #25211e;
  height: 90%;

  border-radius:5px;
  padding-right:5px;
  display: flex;
  justify-content: center;
  width: 75%;
  margin-left:20%;

}

#currentCampaigns img {
  width: 20%;

}

/*  Content Join */

#contentJoin {
  /* background-color:blue; */
  background-image: url("../assets/images/join_movement.png");

  background-repeat:no-repeat;
  background-size: 20%;
}

#contentJoin h2 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 800;
  font-size: 70px;
  margin-left: 15%;
}

/* Join headers */

.joinHeaders {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 800;
  font-size: 25px;
  background-color: #ab9f57;
  width: max-content;
  padding: 0px;
  padding-left: 20px;
  padding-right:20px;
  margin-left: 17%;
  border-radius:5px;

}

#memberHeader {
  margin-top: 57px;

}

#volunteerHeader {
  margin-top: 30px;
}

/* Volunteer Section */

#volunteerSection {
  display:flex;
  background-color:black;
  margin-left:17%;
  width: 83%;
  /* justify-content: center; */

}

#volunteerSection p {
  width: 20%;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 800;
  font-size: 20px;
  text-align:center;


}

.volunteerImg{
  display:block;
  width:100%;

  }

/*  Input Join */

#inputJoin {
  margin-left: 28%;
  margin-top: 30px;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 100;
  font-size: 20px;

}

/* Input class for all inputs. Use different class for multiple inputs  */

input {
  display:inline-block;
  background-color:grey;
  border-color: grey;
  color: white;

}

.inputLabel{
  width:10%;
  display: inline-block;
  background-color: black;
}


#dividerJoin {
  width: 50%;
  border-top: 1px solid white;
  border-bottom: none;
}

/* Shop */

.shopImg {
width: 50%;
margin-left:20%;
}

.shopImg img {
  width: 50%
}


  /* Footer */

  .footer {
    background: #25211e;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 200px;
    display: flex;
    padding-top:40px;
    padidng-bottom: 40px;
    /* display: grid; */

  }

.footer a {
  color:white;
  /* grid-template-columns: : 50% 50% */
  text-decoration: none;

}




  /* Effects */

    /* Flip Effect Horizontal */


.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;

  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: black;
  color: black;
  border-radius: 5px;
}

.flip-box-back {
  background-color: #ab9f57;
  color: white;
  transform: rotateX(180deg);
  border-radius: 5px;
}


  /* Flip Effect Vertical */


  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 500px;
    perspective: 1000px;
    margin-right:60px;

  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: black;
    color: black;
    border-radius: 5px;
  }

  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    border-radius: 5px;

  }


  /*  Card Effect for SideNav in Why GNU? */

  .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  opacity: 0.8;
  background: #3a3229;
  border-radius: 10px;
  /* border-style: dotted; */
  /* border-color:purple; */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  opacity: 1;
  background: black;
    /* Zoom effect */
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}



/* Add effect when active */
/* .card:hover.active {
    background: #3a3229;
} */


  /* Parallax  under Navbar*/

  .parallax {
  /* The image used */
  background-image: url("https://i.ibb.co/D1R1Z8h/gnu-logo.png");
  background-color:#3a3229;

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-origin: border-box;
  background-position: 20% 0%;
  background-repeat: no-repeat;
  background-size: 40%;
}

  /* Parallax over footer  */

.parallax2 {
/* The image used */
background-image: url("https://i.ibb.co/D1R1Z8h/gnu-logo.png");
background-color:#3a3229;

/* Set a specific height */
min-height: 200px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-origin: border-box;
background-position: center;
background-repeat: no-repeat;
background-size: 40%;
}


/* Fade effect for Campaigns in Community and Collaboration */

.campaignsEffect {
  background-color: transparent;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;

}

.campaignsEffect:hover {opacity: 1}
